@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;900&display=swap');

.juneteenth-wrapper {
  font-size: 16px;
}

.juneteenth-btn {
  position: fixed;
  width: 14em;
  bottom: 2em;
  right: -4em;
  transform: rotate(-45deg);
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  background: #020403;
  color: #c5ccd3;
  border: 2px solid #c5ccd3;
  z-index: 100;
}

.juneteenth-modal {
  position: relative;
	z-index: 9999;
}

.juneteenth-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.juneteenth-modal__container {
  background: #020403;
	font-family: 'Work Sans', sans-serif;
  padding: 30px 30px 70px;
  width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.juneteenth-modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.juneteenth-modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: white;
  text-align: center;
}

.juneteenth-modal__close {
  background: #737679;
  color: #020403;
  border: 0;
  border-radius: 100%;
  font-size: 1.2rem;
  width: 42px;
  height: 42px;
  will-change: transform;
  -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
}

.juneteenth-modal__header .juneteenth-modal__close::before {
  content: "\2715";
  font-weight: 900;
}

.juneteenth-modal__close:focus, .juneteenth-modal__close:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

svg[class*="juneteenth"] {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

svg[class*="juneteenth"] text {
	width: 100%;
}

.juneteenth__heading text {
  fill: url(#filler);
	font-weight: 900;
}

.juneteenth__subheading text {
  fill: #737679;
	font-weight: 500;
}

a.juneteenth__learn-more {
  display: inline-block;
  text-align: center;
  background: #FEC601;
  color: #020403;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  will-change: transform;
	transition: all 0.4s ease;
	font-family: 'Work Sans', sans-serif;
}

.juneteenth__learn-more:hover, .juneteenth__learn-more:focus {
  background: #FDD649;
  color: #020403;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .juneteenth-modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .juneteenth-modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .juneteenth-modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .juneteenth-modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .juneteenth-modal__container,
.micromodal-slide .juneteenth-modal__overlay {
  will-change: transform;
}
