@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;900&display=swap');

.juneteenth-modal {
  position: relative;
	z-index: 1000;
}

.juneteenth-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.juneteenth-modal__container {
  background: #020403;
	font-family: 'Work Sans', sans-serif;
  padding: 30px;
  max-width: 992px;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.juneteenth-modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.juneteenth-modal__close {
  background: transparent;
  border: 0;
}

.juneteenth-modal__header .juneteenth-modal__close::before {
  content: "\2715";
}

.juneteenth-modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: white;
}

.juneteenth-modal__close {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: transparent;
  color: white;
  border-radius: .25rem;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.juneteenth-modal__close:focus, .juneteenth-modal__close:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  border-color: white;
  background-color: transparent;
}

.juneteenth-modal__btn:hover {
  cursor: pointer;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .juneteenth-modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .juneteenth-modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .juneteenth-modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .juneteenth-modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .juneteenth-modal__container,
.micromodal-slide .juneteenth-modal__overlay {
  will-change: transform;
}

svg[class*="juneteenth"],
svg[class*="juneteenth"] text {
	width: 100%;
	font-size: 16px;
}

.juneteenth__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.juneteenth__container {
  width: 75%;
}

.juneteenth__heading {
  fill: url(#filler);
	font-weight: 900;
	font-size: 1rem;
}

.juneteenth__subheading {
  fill: #737679;
	font-weight: 500;
	font-size: 1rem;
}

a.juneteenth__learn-more {
  display: inline-block;
  text-align: center;
  background: #FEC601;
  color: #020403;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
	transition: all 0.4s ease;
	font-family: 'Work Sans', sans-serif;
}

.juneteenth__learn-more:hover, .juneteenth__learn-more:focus {
  background: #FDD649;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
